<div class="row">
<div class="title-content">
  <h1>Sign up</h1>
</div> 
</div>
<div class="row">
  <div class="container col-md-6 main-content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-gourp">
      <%= f.label :email %>
      <br />
      <%= f.email_field :email,:class =>"form-control", autofocus: true , :placeholder => "邮箱"%></div>

    <div class="form-gourp">
      <%= f.label :password %>
      <% if @minimum_password_length %> <em>(
        <%= @minimum_password_length %>characters minimum)</em>
      <% end %>
      <br />
      <%= f.password_field :password,:class =>"form-control", autocomplete: "off" , :placeholder => "密码"%></div>

    <div class="form-gourp">
      <%= f.label :password_confirmation %>
      <br />
      <%= f.password_field :password_confirmation,:class =>
      "form-control", autocomplete: "off" , :placeholder => "确认密码"%>
    </div>

    <div class="form-gourp" id="log_in_btn">
      <%= f.submit "Sign up",:class =>"form-control btn btn-success" %></div>
    <% end %>
    <%= render "devise/shared/links" %></div>
</div>