
<div class="title-content">
  <h1>Listing users</h1>
</div>

<%= will_paginate %>

<% @users.each do |user| %>
<div class="row">
  <td>
    <%= user.name %></td>
  <td>
    <%= user.email %></td>
  <%=gravatar_for user %>
  <td>
    <%= link_to 'Show', user %></td>
  <td>
    <%= link_to 'Edit', edit_user_path(user) %></td>
  <td>
    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>
<br>
<% end %>

<%= will_paginate %>

<%= link_to 'New User', new_user_path %>
